html, body {
    font-family: "Georgia", Georgia, serif;
    height: 100%;
}

.display-3 {
    font-family: Baskerville;
    padding-left: 15px;
    font-weight: bold;
    color: #f7f1e3;
    letter-spacing: -3px;

}

header {
    background-color: #1c7c67;
    color: #f7f1e3;
    position:absolute;
    top:100vh;
    transform:translateY(-100%);
    width:100%;
    padding-top: 10px;
}


.top-link {
    color: #f7f1e3;
}

.top-link:hover, .top-link:active {
    background-color: #bca7a4;
    color: #FFF;
    text-decoration: none;
}

.icons {
    border-radius: 100px;
    background: #515151;
    padding : 30px 30px;
    color: #f7f1e3;
}
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
/* .column {
    float: left;
    width: 50%;
    padding: 10px;
} */

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
} */

b {
    color: #000;
}

.experience {
    padding: 30px;
}

.major {
    color: black;
    font-weight: bold;
}

code {
    background-color: rgba(255, 255, 255, .2);
    color: #092d25;
}

.s_icons {
    padding: 5px;
    background-color: #515151;
    font-family: Futura;
    color: #f7f1e3;
    display:inline-block;
    margin: 10px;
    border-radius: 60px;
    color:white;
    font-size: 1.8em;
    padding: 6px 20px;
    text-shadow: 1.5px 1.8px #303030;
}

footer {
    padding: 10px;
    background-color: #1c7c67;
}
